@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 50px 171px 41px 122px;
  background-color: #000;
   min-height: 100vh; 

}

.box-1 img {
  width: 115px;
  height: 68px;
}
.top-container{
  background-color: red;
  display: flex;
  justify-content: space-between;
}
.box-1  ul {
  display: flex;
  margin-top: 28px;
}

.top-container ul li {
  list-style-type: none;
}

.box-1  li img {
  width: 33px;
  height: 33px;
}



.box-2 ul li {
  display: flex;
}

.box-2 img {
  width: 27px;
  height: 22px;
  margin-right: 22px;
}

.top-container ul li:nth-child(2) {
  margin-left: 18px;
}

.top-container ul li:nth-child(3) {
  margin-left: 21px;
}

.top-container ul li:last-child {
  margin-left: 25px;
}

.box-2 ul li p {
  color: #f6f9f5;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 101.385%;
}

.box-2 ul li:last-child {
  margin-top: 25px;
}

.bottom-container {
  position: absolute;
  margin-top: 277px;
}

.bottom-container p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 101.385%;
}
